<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yrec.yhyhsmodelservice.mappers.RaPDayRtMapper" >
	<!-- 当前mapper下所有语句开启二级缓存 -->
	<cache eviction="FIFO" flushInterval="3600000" size="1024000" readOnly="true"/>
  	<!-- /** @Description 根据站码和记录时间得到一个实时雨量站实例
      * @Param 站码, 记录时间
      * @Return cn.yrec.yhyhsmodelservice.model.RaPDayRt
      * @Date 2020/06/29 下午 6:05
      * @auther yanglichen
      */
    RaPDayRt getRaPDayRtByStcdAndTime(String stcd, Date date);-->
	<select id="getRaPDayRtByStcdAndTime" resultType="cn.yrec.yhyhsmodelservice.model.RaPDayRt">
		SELECT
			STCD, STNM,
			DATE, RF
		FROM
			ra_p_day_rt
		WHERE
			STCD=#{STCD}
		AND
			DATE=#{DATE}
	</select>

	<!--/** @Description 根据站码列表得到有雨量记录的雨量站列表
      * @Param 站码列表
      * @Return 站码所对应的雨量站列表
      * @Date 6月30日 0030 上午 9:56
      * @auther yanglichen
      */
    List<RaPDayRt> getHaveRainRaPDayRtListByStcdList(List<String> stcdList);-->
	<select id="getHaveRainRaPDayRtListByStcdList" resultType="cn.yrec.yhyhsmodelservice.model.RaPDayRt">
		SELECT
			STCD, STNM,
			DATE, RF
		FROM
			ra_p_day_rt
		WHERE
			STCD IN
				<foreach collection="STCD_LIST" index="index" close=")" open="(" item="stcd" separator=",">
					#{stcd}
				</foreach>
		AND
			RF &gt;= #{RF}
		AND
			DATE &lt;= #{START_DATE}
		ORDER BY
			DATE
		DESC
	</select>

	<!--/** @Description 根据站码和降雨日期查询某雨量站在降雨时间段内的降雨记录
      * @Param [stcd 站码, rainfallDate 降雨开始的日期]
      * @Return 某雨量站在降雨时间段内有降雨的记录组成的列表
      * @Date 7月1日  上午 9:15
      * @auther yanglichen
      */
    List<RaPDayRt> getrainfallDurationRainPDayRtListByStcdAndDate(
            @Param("STCD") String stcd, @Param("RAINFALL_DATE") String rainfallDateStr);-->
	<select id="getrainfallDurationRainPDayRtListByStcdAndDate" resultType="cn.yrec.yhyhsmodelservice.model.RaPDayRt">
		SELECT
			STCD, STNM,
			DATE, RF
		FROM
			ra_p_day_rt
		WHERE
			STCD = #{STCD}
		AND
			DATE &gt;= #{RAINFALL_DATE}
		AND
			RF &gt; 0
-- 		ORDER BY
-- 			DATE
-- 		DESC
	</select>

	<!--    /**
     * 方法描述: 得到这个时间下站码列表的简单信息
     * @author yanglichen
     * @date 2020-07-10 15:33
     * @param stcdList 站码列表
     * @param nowDate 当前时间
     * @return
     **/
    List<RaPDayRt> getRapDayRtListByStcdListAndNowDate(
            @Param("STCD_LIST")List<String> stcdList, @Param("DATE")String nowDate);-->
	<select id="getRapDayRtListByStcdListAndNowDate" resultType="cn.yrec.yhyhsmodelservice.model.RaPDayRt">
		SELECT
			STCD, STNM,
			DATE, RF
		FROM
			ra_p_day_rt
		WHERE
			STCD IN
				<foreach collection="STCD_LIST" index="index" close=")" open="(" item="stcd" separator=",">
					#{stcd}
				</foreach>
		AND
			DATE = #{DATE}
	</select>

	<!--    /**
     * 方法描述: 根据站码列表和某一个开始的日期,查询这些小于等于这个时间的全部信息
     * @author yanglichen
     * @date 2020-07-16 09:59
     * @param stcdList 站码列表
     * @param beginDate 开始日期
     * @return 小于等于这个时间的全部信息
     **/-->
	<select id="getRaPdayRtListByBeginDate" resultType="cn.yrec.yhyhsmodelservice.model.RaPDayRt">
		SELECT
			STCD, STNM,
			DATE, RF
		FROM
			ra_p_day_rt
		WHERE
			STCD IN
			<foreach collection="STCD_LIST" index="index" close=")" open="(" item="stcd" separator=",">
				#{stcd}
			</foreach>
		AND
			DATE &lt;= #{BEGIN_DATE}
		AND
			RF &gt; 0
		ORDER BY
			DATE
		DESC
	</select>

	<!--    /**
     * 方法描述: 根据站码列表和查询某个时间下有多少返回值
     * @author yanglichen
     * @date 2020-07-16 16:21
     * @param stcdList 站码列表
     * @param date 日期
     * @return 站码列表对应日期下的数量
     **/-->
    <select id="getRaPDayRtListCountByDate" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			ra_p_day_rt
		WHERE
			STCD IN
			<foreach collection="STCD_LIST" index="index" close=")" open="(" item="stcd" separator=",">
				#{stcd}
			</foreach>
		AND
			DATE=#{DATE}
		AND RF &gt;= #{RAINFALL_THRESHOLD}
		LIMIT 1
	</select>

	<!--    /**
     * 方法描述: 查询站码列表对应的站码在小于某一个日期,降雨量<=降雨阈值的全部信息
     *  初步封装到List<Map<>>中,将在业务层转化为Map<>对象
     * @author yanglichen
     * @date 2020-07-23 08:14
     * @param stcdList 站码列表
     * @param startDate 开始日期
     * @param rainfallThreshold 降雨阈值
     * @return 日期: 日期对应的技术项
     **/-->
	<select id="getDatesCountRainfall" resultType="java.util.HashMap">
		SELECT
			DATE AS 'KEY' ,
			COUNT(STCD) AS 'VALUE'
		FROM
			ra_p_day_rt
		WHERE
		STCD IN
			<foreach collection="STCD_LIST" index="index" separator="," open="(" close=")" item="STCD">
				#{STCD}
			</foreach>
		AND
			DATE &lt;= #{START_DATE}
		AND
			RF >= #{RAINFALL_THRESHOLD}
		GROUP BY DATE
		ORDER BY DATE DESC
	</select>


</mapper>