<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yrec.yhyhsmodelservice.mappers.RaPweightMapper" >
	<!-- 当前mapper下所有语句开启二级缓存 -->
	<cache eviction="LRU" flushInterval="3600000" size="102400" readOnly="true"/>
	<!--    /** @Description 根据站码得到该雨量站的分区降雨权重系数
      * @Param [stcd 站码]
      * @Return 分区降雨权重系数实例
      * @Date 2020/06/30 下午 4:22
      * @auther yanglichen
      */
    RaPweight getRaPweightByStcd(String stcd);-->
	<select id="getRaPweightByStcd" resultType="cn.yrec.yhyhsmodelservice.model.RaPweight">
		SELECT
			STCD, STNM,
			YEAR, BASIN,
			AREA, WEIGHT
		FROM
			ra_pweight
		WHERE
			STCD=#{STCD}
		LIMIT 0,1
	</select>


	<!--    /** @Description 根据站码列表查询一分区降雨权重系数列表
      * @Param [stcdList 站码列表]
      * @Return java.util.List<cn.yrec.yhyhsmodelservice.model.RaPweight>
      * @Date 6月30日 0030 下午 4:40
      * @auther yanglichen
      */
    List<RaPweight> getRaPweightListByStcdList(List<String> stcdList);-->
	<select id="getRaPweightListByStcdList" resultType="cn.yrec.yhyhsmodelservice.model.RaPweight">
		SELECT
			STCD, STNM,
			YEAR, BASIN,
			AREA, WEIGHT
		FROM
			ra_pweight
		WHERE
			STCD IN
			<foreach collection="stcdList" item="stcd" open="(" close=")" separator="," index="index">
				#{stcd}
			</foreach>
		AND
			YEAR=(
				SELECT
					MAX(YEAR)
				FROM
					ra_pweight
				LIMIT 1
			)
	</select>


</mapper>